# Core functionality - changes here should be rare!
/src/app.py                   @tristinEcomplete
/src/backend/database.py      @tristinEcomplete
/src/backend/routers/auth.py  @tristinEcomplete

# The frontend will need refactored soon to be more object oriented.
/src/static/   @tristinEcomplete
